In [1]:
import pandas as pd 
import numpy as np

In [2]:

df=pd.read_excel("mlmks.xlsx")

In [3]:
df

Empty DataFrame
Columns: []
Index: []

In [4]:
df.to_csv('missingmarks.csv', index=None, header=True)

In [5]:
headers = ['institution', 'system', 'human_cause', 'machine_cause', 'human_machine', 'error_rate', 'error_system', 'feature']

In [6]:
df = pd.read_csv('mlmks.csv', header=None, names=headers)

In [7]:
df.head(10)

,institution,system,human_cause,machine_cause,human_machine,error_rate,error_system,feature
0,JKUAT,HYBRID,Human errors,Lack of proper skills in use of digital devices,Lack of robustness (inability to handle & proc...,Yes,Hybrid,Yes
1,MASENO,HYBRID,Human-machine conflicts (improper understandin...,Lack of proper skills in use of digital devices,Lack of robustness (inability to handle & proc...,Yes,Hybrid,No
2,EGERTON,HYBRID,Human-machine conflicts (improper understandin...,Lack of proper skills in use of digital devices,Outdated Information Management systems.,Yes,Hybrid,No
3,KU,HYBRID,Human-machine conflicts (improper understandin...,Ignorance,Inefficiency (inaccurate logical evaluations b...,Maybe,Hybrid,Yes
4,KU,DIGITAL,Human-machine conflicts (improper understandin...,"Segregation, bias & favoritism",Lack of robustness (inability to handle & proc...,Maybe,Hybrid,No
5,KU,HYBRID,Human errors,Ignorance,System complexity (hard for front-office secre...,Yes,Hybrid,Yes
6,KU,HYBRID,Human errors,Ignorance,Lack of robustness (inability to handle & proc...,Yes,Digital,Yes
7,MASENO,HYBRID,Human-machine conflicts (improper understandin...,Ignorance,Inefficiency (inaccurate logical evaluations b...,Maybe,Hybrid,Yes
8,JKUAT,HYBRID,Human errors,Lack of proper skills in use of digital devices,System complexity (hard for front-office secre...,Maybe,Digital,Yes
9,JKUAT,HYBRID,Human errors,Lack of proper skills in use of digital devices,Outdated Information Management systems.,Yes,Digital,Yes

In [8]:
df.dtypes

institution      object
system           object
human_cause      object
machine_cause    object
human_machine    object
error_rate       object
error_system     object
feature          object
dtype: object

In [9]:
data_institute = {'institution': {'JKUAT': 10592, 'KU': 10597, 'MASENO': 10602, 'UON': 10607, 'EGERTON': 10612, 'MOI': 10617, 'STRATHMORE': 10622, 'USIU': 10627}}

In [10]:
df = df.replace(data_institute)
df.head(5)

,institution,system,human_cause,machine_cause,human_machine,error_rate,error_system,feature
0,10592,HYBRID,Human errors,Lack of proper skills in use of digital devices,Lack of robustness (inability to handle & proc...,Yes,Hybrid,Yes
1,10602,HYBRID,Human-machine conflicts (improper understandin...,Lack of proper skills in use of digital devices,Lack of robustness (inability to handle & proc...,Yes,Hybrid,No
2,10612,HYBRID,Human-machine conflicts (improper understandin...,Lack of proper skills in use of digital devices,Outdated Information Management systems.,Yes,Hybrid,No
3,10597,HYBRID,Human-machine conflicts (improper understandin...,Ignorance,Inefficiency (inaccurate logical evaluations b...,Maybe,Hybrid,Yes
4,10597,DIGITAL,Human-machine conflicts (improper understandin...,"Segregation, bias & favoritism",Lack of robustness (inability to handle & proc...,Maybe,Hybrid,No

In [11]:
data_num = {'error_rate': {'Yes': 1, 'No': 0, 'Maybe': 2}, 'error_system': {'Hybrid': 1, 'Digital': 2}, 'feature': {'Yes': 1, 'No': 0}, 'system': {'HYBRID': 1, 'DIGITAL': 2}}

In [12]:
df = df.replace(data_num)
df.head(5)

,institution,system,human_cause,machine_cause,human_machine,error_rate,error_system,feature
0,10592,1,Human errors,Lack of proper skills in use of digital devices,Lack of robustness (inability to handle & proc...,1.0,1.0,Yes
1,10602,1,Human-machine conflicts (improper understandin...,Lack of proper skills in use of digital devices,Lack of robustness (inability to handle & proc...,1.0,1.0,0
2,10612,1,Human-machine conflicts (improper understandin...,Lack of proper skills in use of digital devices,Outdated Information Management systems.,1.0,1.0,0
3,10597,1,Human-machine conflicts (improper understandin...,Ignorance,Inefficiency (inaccurate logical evaluations b...,2.0,1.0,1
4,10597,2,Human-machine conflicts (improper understandin...,"Segregation, bias & favoritism",Lack of robustness (inability to handle & proc...,2.0,1.0,0

In [13]:
data_cause_1 = {'human_cause': {'Human errors': 1, 'Human-machine conflicts (improper understanding & utilization of machines)': 2}}

In [14]:
df = df.replace(data_cause_1)
df.head(5)

,institution,system,human_cause,machine_cause,human_machine,error_rate,error_system,feature
0,10592,1,1,Lack of proper skills in use of digital devices,Lack of robustness (inability to handle & proc...,1.0,1.0,Yes
1,10602,1,2,Lack of proper skills in use of digital devices,Lack of robustness (inability to handle & proc...,1.0,1.0,0
2,10612,1,2,Lack of proper skills in use of digital devices,Outdated Information Management systems.,1.0,1.0,0
3,10597,1,2,Ignorance,Inefficiency (inaccurate logical evaluations b...,2.0,1.0,1
4,10597,2,2,"Segregation, bias & favoritism",Lack of robustness (inability to handle & proc...,2.0,1.0,0

In [15]:
data_cause_2 = {'machine_cause': {'Ignorance': 1, 'Segregation, bias & favoritism': 2, 'Lack of proper skills in use of digital devices': 3, 'Ignorance, Lack of proper skills in use of digital devices': 4}}

In [16]:
df = df.replace(data_cause_2)
df.head(5)

,institution,system,human_cause,machine_cause,human_machine,error_rate,error_system,feature
0,10592,1,1,3.0,Lack of robustness (inability to handle & proc...,1.0,1.0,Yes
1,10602,1,2,3.0,Lack of robustness (inability to handle & proc...,1.0,1.0,0
2,10612,1,2,3.0,Outdated Information Management systems.,1.0,1.0,0
3,10597,1,2,1.0,Inefficiency (inaccurate logical evaluations b...,2.0,1.0,1
4,10597,2,2,2.0,Lack of robustness (inability to handle & proc...,2.0,1.0,0

In [17]:
data_cause_3 = {'human_machine': {'Inefficiency (inaccurate logical evaluations by the system, e.g. timetabling & GPA calculations)': 1, 'System complexity (hard for front-office secretaries & admins to understand & maneuver)': 2, 'Outdated Information Management systems.': 3, 'Lack of robustness (inability to handle & process big data instantaneously)': 4, }}

In [18]:
df = df.replace(data_cause_3)
df.head(20)

,institution,system,human_cause,machine_cause,human_machine,error_rate,error_system,feature
0,10592,1,1,3.0,4,1.0,1.0,Yes
1,10602,1,2,3.0,4,1.0,1.0,0
2,10612,1,2,3.0,3,1.0,1.0,0
3,10597,1,2,1.0,1,2.0,1.0,1
4,10597,2,2,2.0,4,2.0,1.0,0
5,10597,1,1,1.0,2,1.0,1.0,1
6,10597,1,1,1.0,4,1.0,2.0,1
7,10602,1,2,1.0,1,2.0,1.0,1
8,10592,1,1,3.0,2,2.0,2.0,1
9,10592,1,1,3.0,3,1.0,2.0,1
10,10612,1,2,2.0,1,1.0,1.0,0
11,10612,2,1,1.0,1,2.0,1.0,1
12,10592,1,2,4.0,System complexity (hard for front-office secre...,1.0,1.0,1
13,10607,1,2,NaN,NaN,NaN,1.0,1
14,10617,1,2,NaN,NaN,NaN,1.0,1
15,10622,2,2,NaN,NaN,NaN,2.0,1
16,10627,2,2,NaN,NaN,NaN,2.0,1
17,10592,1,1,3.0,2,2.0,2.0,1
18,10592,1,1,3.0,3,1.0,2.0,1
19,10592,1,1,3.0,2,2.0,2.0,1

In [19]:
df.dtypes

institution        int64
system             int64
human_cause        int64
machine_cause    float64
human_machine     object
error_rate       float64
error_system     float64
feature           object
dtype: object

In [20]:
df.to_csv('refined_missing.csv')

In [21]:
new_header = ['institution', 'system', 'data_loss_gen', 'data_loss_human', 'data_loss_machine', 'data_loss_hybrid', 'system_error_chance', 'feature']

In [22]:
df1 = pd.read_csv('refined_missing.csv', header=None, names=new_header)
df1.head(30)

,institution,system,data_loss_gen,data_loss_human,data_loss_machine,data_loss_hybrid,system_error_chance,feature
NaN,institution,system,human_cause,machine_cause,human_machine,error_rate,error_system,feature
0.0,10592,1,1,3.0,4,1.0,1.0,Yes
1.0,10602,1,2,3.0,4,1.0,1.0,0
2.0,10612,1,2,3.0,3,1.0,1.0,0
3.0,10597,1,2,1.0,1,2.0,1.0,1
4.0,10597,2,2,2.0,4,2.0,1.0,0
5.0,10597,1,1,1.0,2,1.0,1.0,1
6.0,10597,1,1,1.0,4,1.0,2.0,1
7.0,10602,1,2,1.0,1,2.0,1.0,1
8.0,10592,1,1,3.0,2,2.0,2.0,1
9.0,10592,1,1,3.0,3,1.0,2.0,1
10.0,10612,1,2,2.0,1,1.0,1.0,0
11.0,10612,2,1,1.0,1,2.0,1.0,1
12.0,10592,1,2,4.0,System complexity (hard for front-office secre...,1.0,1.0,1
13.0,10607,1,2,NaN,NaN,NaN,1.0,1
14.0,10617,1,2,NaN,NaN,NaN,1.0,1
15.0,10622,2,2,NaN,NaN,NaN,2.0,1
16.0,10627,2,2,NaN,NaN,NaN,2.0,1
17.0,10592,1,1,3.0,2,2.0,2.0,1
18.0,10592,1,1,3.0,3,1.0,2.0,1
19.0,10592,1,1,3.0,2,2.0,2.0,1
20.0,10592,1,1,3.0,3,1.0,2.0,1
21.0,10592,1,1,3.0,2,2.0,2.0,1
22.0,10592,1,1,3.0,3,1.0,2.0,1
23.0,10612,1,2,2.0,1,1.0,1.0,0
24.0,10592,1,1,3.0,4,1.0,1.0,1
25.0,10597,1,2,1.0,1,2.0,1.0,1
26.0,10592,1,1,3.0,2,2.0,2.0,1
27.0,10592,1,1,3.0,3,1.0,2.0,1
28.0,10617,1,2,NaN,NaN,NaN,1.0,1

In [23]:
df.dtypes

institution        int64
system             int64
human_cause        int64
machine_cause    float64
human_machine     object
error_rate       float64
error_system     float64
feature           object
dtype: object

In [24]:
df.isnull().sum()

institution         0
system              0
human_cause         0
machine_cause    4324
human_machine    4324
error_rate       4324
error_system        1
feature             0
dtype: int64

In [25]:
new_names = ['institution', 'system', 'data_loss_gen', 'data_loss_human', 'data_loss_machine', 'data_loss_hybrid', 'system_error_chance', 'feature']

In [26]:
df2 = pd.read_csv('refined_clean.csv', header=None, names=new_names)

In [27]:
df2.head()

,institution,system,data_loss_gen,data_loss_human,data_loss_machine,data_loss_hybrid,system_error_chance,feature
1,10602,1,2,3.0,4.0,1.0,1.0,0
2,10612,1,2,3.0,3.0,1.0,1.0,0
3,10597,1,2,1.0,1.0,2.0,1.0,1
4,10597,2,2,2.0,4.0,2.0,1.0,0
5,10597,1,1,1.0,2.0,1.0,1.0,1

In [28]:
df2.shape

(10047, 8)

In [29]:
df2.isnull().sum()

institution               0
system                    0
data_loss_gen             0
data_loss_human        4324
data_loss_machine      4324
data_loss_hybrid       4324
system_error_chance       1
feature                   0
dtype: int64

In [30]:
df2.dtypes

institution              int64
system                   int64
data_loss_gen            int64
data_loss_human        float64
data_loss_machine      float64
data_loss_hybrid       float64
system_error_chance    float64
feature                  int64
dtype: object

In [31]:
from sklearn.impute import SimpleImputer

In [212]:
imputed = imputer.transform(df2)

In [214]:
df2.isnull().sum()

institution               0
system                    0
data_loss_gen             0
data_loss_human        4324
data_loss_machine      4324
data_loss_hybrid       4324
system_error_chance       1
feature                   0
dtype: int64

In [33]:
from numpy import nan
df2.fillna(df2.mean(), inplace=True)
print(df2.isnull().sum())

institution            0
system                 0
data_loss_gen          0
data_loss_human        0
data_loss_machine      0
data_loss_hybrid       0
system_error_chance    0
feature                0
dtype: int64

In [34]:
df2.shape

(10047, 8)

In [36]:
df2.isnull()

,institution,system,data_loss_gen,data_loss_human,data_loss_machine,data_loss_hybrid,system_error_chance,feature
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
10114,False,False,False,False,False,False,False,False
10115,False,False,False,False,False,False,False,False
10116,False,False,False,False,False,False,False,False
10117,False,False,False,False,False,False,False,False
10118,False,False,False,False,False,False,False,False

In [37]:
df2.to_csv('missingmarks_clean_data.csv', index=None, header=True)